
body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #001f3f;
    color: #fff;
    padding: 10px;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    width: 220px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-bottom: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    display: block;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #003366; 
}

.container {
    margin-right: 270px; 
}

h2 {
    margin-left: 100px;
    color: #333;
}

form {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #001f3f;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #003366; 
}

table {
    margin-left: 20px;
    width: 70%;
    border-collapse: collapse;
    margin-top: 5px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #001f3f;
    color: #fff;
}

td {
    background-color: #fff;
}