<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Log</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">


</head>
<body>
    <nav>
        <ul>
            <li><a href="/home">Log</a></li>
            <li><a href="/logs/anomalies">Anomaly Log</a></li>
            <li><a href="/logs/cobbles">Cobble Log</a></li>
        </ul>
    </nav>
    <h2>Edit Log</h2>
    <div class="container">
          <form action="/edit/{{ log_type }}/{{ log.id }}" method="post">
        <label for="log_details">Log Details:</label>
        <input type="text" name="log_details" value="{{ log.details }}" required><br>

        <label for="datetime">Date-Time Period:</label>
        <input type="datetime-local" name="datetime" value="{{ log.datetime }}" required><br>

        <label for="affected_region">Affected Region:</label>
        <select name="affected_region" id="regionSelect" onchange="updateSignals()">
            <option value="" disabled>Select an affected region</option>
            {% for region in signals_data.keys() %}
                <option value="{{ region }}" {% if log.affected_region == region %}selected{% endif %}>{{ region }}</option>
            {% endfor %}
        </select><br>

        <label for="signals">Signals Involved:</label>
        <select name="signals" id="signalSelect">
            <option value="" disabled>Select signals involved</option>
        </select><br>

        <label for="correctness_measures">Correctness Measures Taken:</label>
        <input type="text" name="correctness_measures" value="{{ log.correctness_measures }}" required><br>

        <input type="submit" value="Save Changes">
    </form>
  
    </div>

    <script>
        var signalsData = {{ signals_data | tojson | safe }};

        function updateSignals() {
            var regionSelect = document.getElementById('regionSelect');
            var signalSelect = document.getElementById('signalSelect');
            var selectedRegion = regionSelect.options[regionSelect.selectedIndex].value;
            var signals = signalsData[selectedRegion] || [];
            signalSelect.innerHTML = '';
            signals.forEach(function(signal) {
                var option = document.createElement('option');
                option.value = signal;
                option.text = signal;
                signalSelect.add(option);
            });
        }
        updateSignals();
    </script>
</body>
</html>
