<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logs</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Log</a></li>
            <li><a href="/logs/anomalies">Anomaly Log</a></li>
            <li><a href="/logs/cobbles">Cobble Log</a></li>
        </ul>
    </nav>
    <div class="container">    
        <h2>Log an Anomaly or Cobble</h2>
        <form action="/add_log" method="post">
            <label for="log_type"><b>Log Type:</b></label>
            <select name="log_type">
                <option value="anomalies">Anomaly</option>
                <option value="cobbles">Cobble</option>
            </select><br>

            <label for="log_details"><b>Log Details:</b></label>
            <textarea name="log_details" rows="6" cols="40" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter log details...'" placeholder="Enter log details" required></textarea><br>

            <label for="datetime"><b>Date-Time Period:</b></label>
            <input type="datetime-local" name="datetime" required><br>

            <label for="affected_region"><b>Affected Region:</b></label>
            <select name="affected_region" id="regionSelect" onchange="updateSignals()">
                <option value="" disabled selected>Select an affected region</option>
                {% for region in signals_data.keys() %}
                    <option value="{{ region }}">{{ region }}</option>
                {% endfor %}
            </select><br>
            
            <label for="signals"><b>Signals Involved:</b></label>
            <select name="signals" id="signalSelect">
                <option value="" disabled selected>Select signals involved</option>
            </select><br>
            

            <label for="correctness_measures"><b>Correctness Measures Taken:</b></label>
            <textarea name="correctness_measures" rows="4" cols="50" placeholder="Enter correctness measures" required></textarea><br>

            <input type="submit" value="Submit">
        </form>
    </div>

    <script>
        var signalsData = {{ signals_data | tojson | safe | replace("'", "\'") | replace('"', '\"') | safe }};

        function updateSignals() {
            var regionSelect = document.getElementById('regionSelect');
            var signalSelect = document.getElementById('signalSelect');
            var selectedRegion = regionSelect.options[regionSelect.selectedIndex].value;
            var signals = signalsData[selectedRegion] || [];
            signalSelect.innerHTML = '';
            signals.forEach(function(signal) {
                var option = document.createElement('option');
                option.value = signal;
                option.text = signal;
                signalSelect.add(option);
            });
        }
        updateSignals();
    </script>
       
</body>
</html>
